In [1]:
import pandas as pd

In [76]:
df_22_23 = pd.read_html("https://fbref.com/es/comps/12/2022-2023/Estadisticas-2022-2023-La-Liga")
df_2 = df_22_23[2]

In [78]:
df_0.sort_values(by="Equipo").head()

,RL,Equipo,PJ,PG,PE,PP,GF,GC,DG,Pts,Pts/PJ,xG,xGA,xGD,xGD/90,Asistencia,Máximo Goleador del Equipo,Portero,Notas
16,17,Almería,38,11,8,19,49,65,-16,41,1.08,45.5,62.5,-17.0,-0.45,12961,El Bilal Touré - 7,Fernando,NaN
7,8,Athletic Club,38,14,9,15,47,43,4,51,1.34,54.2,36.9,17.3,0.46,43488,"Iñaki Williams, Oihan Sancet - 10",Unai Simón,NaN
2,3,Atlético Madrid,38,23,8,7,70,33,37,77,2.03,62.3,41.3,20.9,0.55,55800,Antoine Griezmann - 15,Jan Oblak,→ Champions League Por el final de liga
0,1,Barcelona,38,28,4,6,70,20,50,88,2.32,75.5,33.2,42.3,1.11,83498,Robert Lewandowski - 23,Marc-André ter Stegen,→ Champions League Por el final de liga
5,6,Betis,38,17,9,12,46,41,5,60,1.58,51.3,50.0,1.3,0.03,49635,Borja Iglesias - 15,Rui Silva,→ Europa League Por el final de liga

In [93]:
df_1

   Unnamed: 0_level_0 Unnamed: 1_level_0 Local                             \
                   RL             Equipo    PJ  PG PE  PP  GF  GC  DG Pts
0                   1          Barcelona    19  15  3   1  37   4  33  48
1                   2        Real Madrid    19  13  5   1  44  16  28  44
2                   3    Atlético Madrid    19  13  3   3  41  15  26  42
3                   4      Real Sociedad    19  11  5   3  26  16  10  38
4                   5         Villarreal    19  12  3   4  36  18  18  39
5                   6              Betis    19   9  5   5  26  18   8  32
6                   7            Osasuna    19  11  1   7  24  21   3  34
7                   8      Athletic Club    19   8  3   8  22  15   7  27
8                   9           Mallorca    19  10  5   4  22  12  10  35
9                  10             Girona    19  10  3   6  35  26   9  33
10                 11     Rayo Vallecano    19   9  5   5  28  22   6  32
11                 12            Sevilla    19   7  5   7  24  25  -1  26
12                 13         Celta Vigo    19   7  6   6  26  21   5  27
13                 14              Cádiz    19   7  6   6  19  23  -4  27
14                 15             Getafe    19   7  6   6  21  20   1  27
15                 16           Valencia    19   8  5   6  27  19   8  29
16                 17            Almería    19  10  3   6  29  22   7  33
17                 18         Valladolid    19   8  4   7  21  25  -4  28
18                 19           Espanyol    19   4  7   8  27  35  -8  19
19                 20              Elche    19   3  6  10  18  29 -11  15

    ... Visitante
    ...        PP  GF  GC  DG Pts Pts/PJ    xG   xGA   xGD xGD/90
0   ...         5  33  16  17  40   2.11  32.4  19.8  12.6   0.66
1   ...         7  31  20  11  34   1.79  32.8  21.5  11.2   0.59
2   ...         4  29  18  11  35   1.84  28.0  23.9   4.1   0.22
3   ...         6  25  19   6  33   1.74  24.0  18.8   5.2   0.27
4   ...         8  23  22   1  25   1.32  22.5  26.7  -4.2  -0.22
5   ...         7  20  23  -3  28   1.47  24.4  27.8  -3.5  -0.18
6   ...         8  13  21  -8  19   1.00  13.3  26.0 -12.7  -0.67
7   ...         7  25  28  -3  24   1.26  28.0  21.9   6.2   0.32
8   ...        12  15  31 -16  15   0.79  15.4  28.8 -13.4  -0.70
9   ...         9  23  29  -6  16   0.84  21.5  31.1  -9.6  -0.50
10  ...        10  17  31 -14  17   0.89  18.5  29.1 -10.6  -0.56
11  ...         8  23  29  -6  23   1.21  17.5  32.6 -15.1  -0.80
12  ...        11  17  32 -15  16   0.84  20.7  27.7  -7.0  -0.37
13  ...        10  11  30 -19  15   0.79  19.6  34.0 -14.4  -0.76
14  ...        10  13  25 -12  15   0.79  12.7  23.9 -11.2  -0.59
15  ...        12  15  26 -11  13   0.68  22.7  26.5  -3.8  -0.20
16  ...        13  20  43 -23   8   0.42  19.4  35.7 -16.3  -0.86
17  ...        13  12  38 -26  12   0.63  14.2  39.7 -25.6  -1.35
18  ...         9  25  34  -9  18   0.95  18.5  33.2 -14.7  -0.77
19  ...        13  12  38 -26  10   0.53  13.1  40.7 -27.6  -1.45

[20 rows x 28 columns]

In [142]:
df_5 = df_1.sort_values(by=("Local", "Pts"), ascending=False)

In [108]:
df_5.columns =df_5.columns.droplevel()

In [111]:
df_local = df_5.filter(like="Local")

In [113]:
df_local.head()

  Local
     PJ  PG PE PP  GF  GC  DG Pts Pts/PJ    xG   xGA   xGD xGD/90
0    19  15  3  1  37   4  33  48   2.53  43.1  13.3  29.7   1.56
1    19  13  5  1  44  16  28  44   2.32  42.8  17.4  25.3   1.33
2    19  13  3  3  41  15  26  42   2.21  34.3  17.4  16.8   0.89
4    19  12  3  4  36  18  18  39   2.05  39.1  23.1  16.0   0.84
3    19  11  5  3  26  16  10  38   2.00  28.7  14.5  14.1   0.74

In [126]:
cambio = {
    "PJ": "vis_PJ",
    "PG": "vis_PG",
    "PE": "vis_PE",
    "PP": "vis_PP",
    "GF": "vis_GF",
    "GC": "vis_GC",
    "DG": "vis_DG",
    "Pts": "vis_Pts",
    "Pts/PJ": "vis_Pts/PJ",
    "xG": "vis_xG",
    "xGA": "vis_xGA",
    "xGD": "vis_xGD"
}

In [118]:
df_local = df_local.rename(columns=cambio)

In [122]:
df_local.head()

     Local                                                                  \
  local_pj local_PG local_pe local_pp local_gf local_gc local_dg local_Pts
0       19       15        3        1       37        4       33        48
1       19       13        5        1       44       16       28        44
2       19       13        3        3       41       15       26        42
4       19       12        3        4       36       18       18        39
3       19       11        5        3       26       16       10        38


  local_Pts/PJ local_xG local_xGA local_xGD xGD/90
0         2.53     43.1      13.3      29.7   1.56
1         2.32     42.8      17.4      25.3   1.33
2         2.21     34.3      17.4      16.8   0.89
4         2.05     39.1      23.1      16.0   0.84
3         2.00     28.7      14.5      14.1   0.74

In [129]:
df_visitante = df_5.filter(like="Visitante")

In [130]:
df_visitante = df_visitante.rename(columns=cambio)

In [132]:
df_visitante.sample(2)

   Visitante                                                               \
      vis_PJ vis_PG vis_PE vis_PP vis_GF vis_GC vis_DG vis_Pts vis_Pts/PJ
18        19      4      6      9     25     34     -9      18       0.95
15        19      3      4     12     15     26    -11      13       0.68


   vis_xG vis_xGA vis_xGD xGD/90
18   18.5    33.2   -14.7  -0.77
15   22.7    26.5    -3.8  -0.20

In [137]:
df_2.columns = df_2.columns.droplevel()

ValueError: Cannot remove 1 levels from an index with 1 levels: at least one level must be left.

In [141]:
df_2.sort_index()

,PL,Edad,Pos.,PJ,Titular,Mín,90 s,Gls.,Ass,G+A,...,Gls.,Ast,G+A,G-TP,G+A-TP,xG,xAG,xG+xAG,npxG,npxG+xAG
0,29,26.4,45.1,38,418,3420,38.0,49,33,82,...,1.29,0.87,2.16,1.24,2.11,1.20,0.85,2.05,1.14,1.99
1,26,27.4,51.6,38,418,3420,38.0,46,33,79,...,1.21,0.87,2.08,1.08,1.95,1.43,1.02,2.45,1.28,2.31
2,27,28.5,50.6,38,418,3420,38.0,68,51,119,...,1.79,1.34,3.13,1.76,3.11,1.64,1.28,2.91,1.62,2.89
3,29,25.9,64.3,38,418,3420,38.0,69,56,125,...,1.82,1.47,3.29,1.82,3.29,1.99,1.58,3.57,1.95,3.53
4,30,28.6,50.6,38,418,3420,38.0,43,26,69,...,1.13,0.68,1.82,0.92,1.61,1.35,0.91,2.26,1.17,2.08
5,38,29.1,41.9,38,418,3420,38.0,29,20,49,...,0.76,0.53,1.29,0.66,1.18,1.09,0.73,1.82,0.99,1.72
6,26,26.7,50.2,38,418,3420,38.0,41,31,72,...,1.08,0.82,1.89,1.03,1.84,1.13,0.81,1.94,1.06,1.88
7,32,28.3,45.5,38,418,3420,38.0,30,21,51,...,0.79,0.55,1.34,0.68,1.24,0.99,0.71,1.70,0.88,1.60
8,33,27.6,43.1,38,418,3420,38.0,51,31,82,...,1.34,0.82,2.16,1.21,2.03,1.27,0.92,2.19,1.17,2.09
9,25,27.4,39.9,38,418,3420,38.0,34,21,55,...,0.89,0.55,1.45,0.76,1.32,0.96,0.59,1.56,0.80,1.39
10,29,26.0,51.3,38,418,3420,38.0,55,41,96,...,1.45,1.08,2.53,1.24,2.32,1.33,0.98,2.31,1.15,2.13
11,31,27.7,41.1,38,418,3420,38.0,36,27,63,...,0.95,0.71,1.66,0.84,1.55,0.93,0.70,1.62,0.82,1.52
12,26,27.5,48.0,38,418,3420,38.0,36,30,66,...,0.95,0.79,1.74,0.84,1.63,1.04,0.74,1.78,0.93,1.68
13,28,27.9,51.2,38,418,3420,38.0,41,29,70,...,1.08,0.76,1.84,0.97,1.74,1.16,0.79,1.95,0.99,1.78
14,26,27.4,60.9,38,418,3420,38.0,73,56,129,...,1.92,1.47,3.39,1.68,3.16,1.99,1.49,3.48,1.74,3.23
15,30,25.9,54.6,38,418,3420,38.0,47,36,83,...,1.24,0.95,2.18,1.18,2.13,1.39,1.04,2.43,1.30,2.34
16,35,28.7,52.6,38,418,3420,38.0,47,31,78,...,1.24,0.82,2.05,1.13,1.95,1.22,0.84,2.06,1.12,1.96
17,28,24.2,52.0,38,418,3420,38.0,40,23,63,...,1.05,0.61,1.66,0.92,1.53,1.30,0.86,2.15,1.13,1.99
18,36,27.4,48.7,38,418,3420,38.0,32,24,56,...,0.84,0.63,1.47,0.76,1.39,1.02,0.75,1.76,0.93,1.68
19,32,28.4,56.9,38,418,3420,38.0,57,33,90,...,1.50,0.87,2.37,1.39,2.26,1.62,1.14,2.76,1.48,2.61

In [140]:

df_2.columns

Index(['PL', 'Edad', 'Pos.', 'PJ', 'Titular', 'Mín', '90 s', 'Gls.', 'Ass',
       'G+A', 'G-TP', 'TP', 'TPint', 'TA', 'TR', 'xG', 'npxG', 'xAG',
       'npxG+xAG', 'PrgC', 'PrgP', 'Gls.', 'Ast', 'G+A', 'G-TP', 'G+A-TP',
       'xG', 'xAG', 'xG+xAG', 'npxG', 'npxG+xAG'],
      dtype='object')